<div class="menu-page">
  <div class="menu-intro">
    <h2>{{ menuTitle }}</h2>
    <p>
      This section is created for English speaking beginners who need help to understand the basics of speaking English. 
      We will use very simple phrases and expressions to help you with your English speaking.
    </p>
    <p>
      There are currently <strong>90 lessons with over 900 audio files</strong> in the {{ menuTitle }} Section. 
      Once you are familiar with the basics, you can move to other categories such as Regular English Lessons.
    </p>
  </div>

  <div class="lesson-groups">
    @if (isGrouped) {
      @for (group of groupedLessons; track group.category) {
        <div class="lesson-group">
          <h3>{{ group.category }}</h3>
          <ul class="lesson-list">
            @for (lesson of group.lessons; track lesson.id) {
              <li><a [routerLink]="[itemRoutePrefix, lesson.id]">{{ lesson.title }}</a></li>
            }
          </ul>
        </div>
      }
    } @else {
      <div class="lesson-group">
        <h3>{{ menuTitle }} Lessons</h3>
        <ul class="lesson-list">
          @for (lesson of lessonsList; track lesson.id) {
            <li><a [routerLink]="[itemRoutePrefix, lesson.id]">{{ lesson.title }}</a></li>
          }
        </ul>
      </div>
    }
  </div>

  <div class="discover-more">
    <h3>Discover more</h3>
    <ul class="discover-list">
      <li><a href="#">Business English course</a></li>
      <li><a href="#">English vocabulary builder</a></li>
      <li><a href="#">English speaking course</a></li>
      <li><a href="#">English idioms dictionary</a></li>
      <li><a href="#">Beginner English audio</a></li>
      <li><a href="#">Travel English lessons</a></li>
    </ul>
  </div>
</div>
